<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2001 - 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Service Provider SOLR -->
	<bean id="solrServiceProvider" class="it.phoops.geoserver.ols.geocoding.solr.SOLRServiceProvider">
	   <property name="active" value="false" />
	   <property name="descriptionKey" value="OLS.serviceProvider.geocoding.solr.description" />
       <property name="endpointAddress" value="http://localhost/solr/" />
       <property name="solrCrsName" value="EPSG:4326" />
    </bean>
    
    <!-- Service Provider Reverse Geocoding SOLR -->
	<bean id="solrReverseServiceProvider" class="it.phoops.geoserver.ols.reverse.solr.SOLRReverseServiceProvider">
	   <property name="active" value="false" />
	   <property name="descriptionKey" value="OLS.serviceProvider.reverse.solr.description" />
       <property name="endpointAddress" value="http://localhost/solr/" />
       <property name="solrCrsName" value="EPSG:4326" />
       <property name="radius" value="0.0001" />
    </bean>
</beans>