<html>
	<wicket:panel>
		<input type="checkbox" class="field checkbox" wicket:id="checkboxOTP" />		
			<label class="choice">Active Service</label>
		<input type="hidden" name="loginForm:hf:0" id="loginForm:hf:0" />
        <label> URL OTP </label>
             <input value="" type="text" wicket:id="urlOTP" name="urlOTP" class="field text" />
        <br />
		<label> Router id </label>
			 <input value="" type="text" wicket:id="routerId" name="routerId" class="field text" />
        <br />
		<label> Navigation Info </label>
			 <input value="" type="text" wicket:id="navigationInfoOTP" name="navigationInfoOTP" class="field text" />
		<br />
		<label> Navigation Info Short </label>
			 <input value="" type="text" wicket:id="navigationInfoShortOTP" name="navigationInfoShortOTP" class="field text" />
		<br />
		<label> Navigation Relative Info </label>
			 <input value="" type="text" wicket:id="navigationInfoRelOTP" name="navigationInfoRelOTP" class="field text" />
		<br />
		<label> Language </label>
			<select wicket:id="language"></select>
		<hr>
	</wicket:panel>
</html>