<html>
	<wicket:panel>
		<input type="hidden" name="loginForm:hf:0" id="loginForm:hf:0" />

		<input type="checkbox" class="field checkbox" wicket:id="checkboxRFC59" />		
			<label class="choice">Active Service</label> 
		
		<label> URL </label>
			 <input value="" type="text" wicket:id="urlRFC59" name="urlRFC59" class="field text" />
		<br />
		<label> Timeout </label>
			 <input value="" type="text" wicket:id="timeoutRFC59" name="timeoutRFC59" class="field text" />
		<br />
		<label> Algotihm </label>
			<select wicket:id="algorithm"></select>
		<hr>
	</wicket:panel>
</html>