<html>
	<wicket:panel>
		<input type="checkbox" class="field checkbox" wicket:id="checkboxPgRouting" />		
			<label class="choice">Active Service</label>
		<input type="hidden" name="loginForm:hf:0" id="loginForm:hf:0" />
		<label> Host </label>
			 <input value="" type="text" wicket:id="hostPgRouting" name="hostPgRouting" class="field text" />
		<label> Port </label>
			 <input value="" type="text" wicket:id="portPgRouting" name="portPgRouting" class="field text" />
		<label> Database </label>
			 <input value="" type="text" wicket:id="dbPgRouting" name="dbPgRouting" class="field text" />
		<label> User </label>
			 <input value="" type="text" wicket:id="userPgRouting" name="userPgRouting" class="field text" />
		<label> Password </label>
			 <input value="" type="password" wicket:id="pswPgRouting" name="pswPgRouting" class="field text" />
		<br />
		<label> Shortest Algotihm </label>
			<select wicket:id="algorithm"></select>
		<hr>
	</wicket:panel>
</html>