<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 (c) 2015 Open Source Geospatial Foundation - all rights reserved
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Service Provider pgRouting -->
	<bean id="pgRoutingServiceProvider" class="it.phoops.geoserver.ols.routing.pgrouting.PgRoutingServiceProvider">
	   <property name="active" value="false" />
	   <property name="descriptionKey" value="OLS.serviceProvider.geocoding.pgrouting.description" />
       <property name="endpointAddress" value="localhost" />
       <property name="portNumber" value="5432" />
       <property name="user" value="routing" />
       <property name="password" value="routing" />
       <property name="database" value="prova" />
       <property name="schema" value="public" />
       <property name="algorithm" value="1" />
       <property name="nodeTable" value="vertices_tmp" />
       <property name="edgeTable" value="ways" />
       <property name="edgeQuery" value="SELECT gid as id, source, target, length as cost, reverse_cost FROM ways" />
       <property name="undirectedQuery" value="SELECT gid as id, source, target, length as cost FROM ways" />
       <property name="navigationInfo" value="Procedi in direzione {0} per {1} km su {2}" />
       <property name="navigationInfoShort" value="Procedi in direzione {0} per {1} km" />
       <property name="navigationInfoRel" value="{0} su {1} per {1} km" />
       <property name="language" value="1" />
    </bean>
</beans>