<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Service Provider pgRouting -->
	<bean id="pgRoutingServiceProvider" class="it.phoops.geoserver.ols.routing.pgrouting.PgRoutingServiceProvider">
	   <property name="active" value="false" />
	   <property name="descriptionKey" value="OLS.serviceProvider.geocoding.pgrouting.description" />
       <property name="endpointAddress" value="localhost" />
       <property name="portNumber" value="5432" />
       <property name="user" value="routing" />
       <property name="password" value="routing" />
       <property name="database" value="prova" />
       <property name="algorithm" value="1" />
    </bean>
</beans>